In [31]:
import pmdarima as pm

In [32]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

In [33]:
df = pd.read_csv("formatted_data.csv")

In [34]:
df

,Unnamed: 0,localminute,marginal_consumption,dataid,DST,transformed
0,0,2015-10-01 00:00:00,0.0,35,1,0.00000
1,1,2015-10-01 01:00:00,0.0,35,1,0.00000
2,2,2015-10-01 02:00:00,0.0,35,1,0.00000
3,3,2015-10-01 03:00:00,0.0,35,1,0.00000
4,4,2015-10-01 04:00:00,0.0,35,1,0.00000
...,...,...,...,...,...,...
525616,525616,2016-02-08 12:00:00,0.0,9956,0,0.00000
525617,525617,2016-02-08 13:00:00,0.0,9956,0,0.00000
525618,525618,2016-02-08 14:00:00,0.0,9956,0,0.00000
525619,525619,2016-02-08 15:00:00,0.0,9956,0,0.00000
525620,525620,2016-02-08 16:00:00,14.0,9956,0,2.70805

In [11]:
# from scipy.stats import boxcox
# df['transformed_diff'], lam = boxcox(df['marginal_diff'])
# print('Lambda: %f' % lam)

In [35]:
df['marginal_consumption'].min()

0.0