In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("dataport-export_gas_oct2015-mar2016.csv")

In [3]:
df.head()

              localminute  dataid  meter_value
0  2015-10-01 00:00:10-05     739        88858
1  2015-10-01 00:00:13-05    8890       197164
2  2015-10-01 00:00:20-05    6910       179118
3  2015-10-01 00:00:22-05    3635       151318
4  2015-10-01 00:00:22-05    1507       390354

In [4]:
df.dtypes

localminute    object
dataid          int64
meter_value     int64
dtype: object

In [5]:
df.groupby('dataid')['meter_value'].describe()

,count,mean,std,min,25%,50%,75%,max
dataid,,,,,,,,
35,11872.0,98799.541779,3585.696685,93470.0,95402.0,98397.0,102309.0,104692.0
44,1549.0,168857.252421,1621.907607,165674.0,167868.0,168188.0,169672.0,175070.0
77,10683.0,61162.735748,1655.197037,58832.0,59790.0,60742.0,62590.0,64652.0
94,36335.0,126452.122086,8260.652894,116642.0,117894.0,124482.0,134538.0,140358.0
114,2597.0,136067.471698,6187.644319,128294.0,129930.0,134774.0,143072.0,145298.0
...,...,...,...,...,...,...,...,...
9729,12361.0,129427.883019,5794.697171,122186.0,123380.0,128152.0,135684.0,138146.0
9766,2282.0,171690.504820,7682.217141,158512.0,161656.0,176406.0,177428.0,179902.0
9849,2741.0,35566.648668,1675.226417,33632.0,34070.0,35172.0,36632.0,39292.0
9956,1292.0,99377.100619,2762.759712,95860.0,96164.0,100438.0,101822.5,107042.0
9982,1540.0,111574.022078,3887.218866,105946.0,108470.5,110451.0,115046.5,123708.0

In [6]:
df['localminute'].head()

0    2015-10-01 00:00:10-05
1    2015-10-01 00:00:13-05
2    2015-10-01 00:00:20-05
3    2015-10-01 00:00:22-05
4    2015-10-01 00:00:22-05
Name: localminute, dtype: object

As we can see, the localminute column containing the timestamp for each meter reading is:
1. Incorrectly formatted - the the "-05" or "-06" at the end is timezone data, indicating when Daylight Savings Time begins and ends. We can extract this to create a new feature
2. Not in the datetime datatype

In [7]:
df['DST'] = pd.to_numeric(df['localminute'].str[-2:]) == 5
df

                           localminute  dataid  meter_value   DST
0               2015-10-01 00:00:10-05     739        88858  True
1               2015-10-01 00:00:13-05    8890       197164  True
2               2015-10-01 00:00:20-05    6910       179118  True
3               2015-10-01 00:00:22-05    3635       151318  True
4               2015-10-01 00:00:22-05    1507       390354  True
...                                ...     ...          ...   ...
1584818  2016-03-31 23:59:14.336743-05    2129       201726  True
1584819  2016-03-31 23:59:17.427165-05    2945       161232  True
1584820  2016-03-31 23:59:35.370782-05    9729       138146  True
1584821  2016-03-31 23:59:47.816286-05    5129       166488  True
1584822   2016-03-31 23:59:58.92308-05     484       114174  True

[1584823 rows x 4 columns]

In [8]:
df['localminute'] = df['localminute'].str[:-3]
df['localminute'] = pd.to_datetime(df['localminute'], format='mixed').dt.strftime('%Y-%m-%d %H:%M:%S')
df['localminute'] = pd.to_datetime(df['localminute'])

In [9]:
df

                localminute  dataid  meter_value   DST
0       2015-10-01 00:00:10     739        88858  True
1       2015-10-01 00:00:13    8890       197164  True
2       2015-10-01 00:00:20    6910       179118  True
3       2015-10-01 00:00:22    3635       151318  True
4       2015-10-01 00:00:22    1507       390354  True
...                     ...     ...          ...   ...
1584818 2016-03-31 23:59:14    2129       201726  True
1584819 2016-03-31 23:59:17    2945       161232  True
1584820 2016-03-31 23:59:35    9729       138146  True
1584821 2016-03-31 23:59:47    5129       166488  True
1584822 2016-03-31 23:59:58     484       114174  True

[1584823 rows x 4 columns]

In [10]:
df.dtypes

localminute    datetime64[ns]
dataid                  int64
meter_value             int64
DST                      bool
dtype: object

In [11]:
df['dataid'].value_counts()

dataid
2034    75991
6910    69349
484     44034
5814    42424
5810    42234
        ...
7566       32
9620       23
4671       21
6101        3
4874        2
Name: count, Length: 157, dtype: int64

Let's plot a time series graph for each dataid and try to see if there are any outliers, anomalies, or any patterns in the data. The meter values we have currently measure cumulative consumption and not marginal consumption.

In [12]:
df = df.set_index(df['dataid'])
df = df.drop(columns='dataid')

In [13]:
df.index.value_counts()

dataid
2034    75991
6910    69349
484     44034
5814    42424
5810    42234
        ...
7566       32
9620       23
4671       21
6101        3
4874        2
Name: count, Length: 157, dtype: int64

In [14]:
df = df.drop([7566, 9620, 4671, 6101, 4874, 9160, 2755, 2946, 2814, 5545, 2645, 6685, 1403])
df.index.value_counts()

dataid
2034    75991
6910    69349
484     44034
5814    42424
5810    42234
        ...
8059      529
5658      493
3036      336
9600      330
8703      258
Name: count, Length: 144, dtype: int64

I've gone ahead and dropped all the dataids that have less than 250 readings. I've seen later that these end up being quite problematic and irregular, so I've decided that they don't have enough data to be included in our investigation

In [15]:
df = df.reset_index()
df

         dataid         localminute  meter_value   DST
0           739 2015-10-01 00:00:10        88858  True
1          8890 2015-10-01 00:00:13       197164  True
2          6910 2015-10-01 00:00:20       179118  True
3          3635 2015-10-01 00:00:22       151318  True
4          1507 2015-10-01 00:00:22       390354  True
...         ...                 ...          ...   ...
1584128    2129 2016-03-31 23:59:14       201726  True
1584129    2945 2016-03-31 23:59:17       161232  True
1584130    9729 2016-03-31 23:59:35       138146  True
1584131    5129 2016-03-31 23:59:47       166488  True
1584132     484 2016-03-31 23:59:58       114174  True

[1584133 rows x 4 columns]

In [16]:
df = df.sort_values(by=['dataid', 'localminute'])

df

As we can see, the data is irregularly sampled, which is inconvenient to handle and creates a lot of uneccesary noise, especially as there is barely any difference at small intervals. Therefore we will extract the marginal consumption per hour from the cumulative readings using resampling.

In [17]:
# for dataid, group in df.groupby('dataid'):
#     fig, ax = plt.subplots(figsize=(10,5))
#     plt.plot(df[df['dataid'] == dataid].set_index("localminute")['meter_value'].diff())
#     ax.set_title(f'meter value by time for dataid {dataid}')
#     plt.show()

In [18]:
marginal_consumption = []
for dataid, group in df.groupby('dataid'):
    meter_value_diff = group['meter_value'].diff()
    marginal_consumption.append(meter_value_diff)

In [19]:
marginal_consumption = pd.concat(marginal_consumption)
df['marginal_consumption'] = marginal_consumption
df['marginal_consumption']

83          NaN
244         0.0
723         0.0
790         0.0
829         0.0
           ...
1560987     0.0
1561582     2.0
1566451    48.0
1576619    68.0
1580897    72.0
Name: marginal_consumption, Length: 1584133, dtype: float64

In [20]:
df['marginal_consumption'] = df['marginal_consumption'].fillna(0)

In [21]:
df

         dataid         localminute  meter_value   DST  marginal_consumption
83           35 2015-10-01 00:14:44        93470  True                   0.0
244          35 2015-10-01 00:42:34        93470  True                   0.0
723          35 2015-10-01 02:02:37        93470  True                   0.0
790          35 2015-10-01 02:12:38        93470  True                   0.0
829          35 2015-10-01 02:20:36        93470  True                   0.0
...         ...                 ...          ...   ...                   ...
1560987    9982 2016-03-28 09:25:54       119734  True                   0.0
1561582    9982 2016-03-28 11:29:41       119736  True                   2.0
1566451    9982 2016-03-29 04:38:38       119784  True                  48.0
1576619    9982 2016-03-30 17:46:42       119852  True                  68.0
1580897    9982 2016-03-31 11:09:42       119924  True                  72.0

[1584133 rows x 5 columns]

In [22]:
resampled_consumption = []
dataid_column = []
table = []

for dataid, group in df.groupby('dataid'):
    resample = group.resample('h', on='localminute')['marginal_consumption'].sum()
    resampled_consumption.append(resample)
    for i in range(len(resample)):
        dataid_column.append(dataid)

In [23]:
consumption_series = pd.concat(resampled_consumption)
consumption_series

localminute
2015-10-01 00:00:00     0.0
2015-10-01 01:00:00     0.0
2015-10-01 02:00:00     0.0
2015-10-01 03:00:00     0.0
2015-10-01 04:00:00     0.0
                       ...
2016-03-31 07:00:00     0.0
2016-03-31 08:00:00     0.0
2016-03-31 09:00:00     0.0
2016-03-31 10:00:00     0.0
2016-03-31 11:00:00    72.0
Name: marginal_consumption, Length: 591478, dtype: float64

In [24]:
df = pd.DataFrame(consumption_series)

In [25]:
len(dataid_column)

591478

In [26]:
df['dataid'] = dataid_column
df

                     marginal_consumption  dataid
localminute
2015-10-01 00:00:00                   0.0      35
2015-10-01 01:00:00                   0.0      35
2015-10-01 02:00:00                   0.0      35
2015-10-01 03:00:00                   0.0      35
2015-10-01 04:00:00                   0.0      35
...                                   ...     ...
2016-03-31 07:00:00                   0.0    9982
2016-03-31 08:00:00                   0.0    9982
2016-03-31 09:00:00                   0.0    9982
2016-03-31 10:00:00                   0.0    9982
2016-03-31 11:00:00                  72.0    9982

[591478 rows x 2 columns]

In [27]:
df['DST'] = df.index.map( lambda x: 1 if x < pd.to_datetime('2015-11-01 01:00:00', format='mixed') or x > pd.to_datetime('2016-03-13 02:00:00', format='mixed') else 0 )

In [28]:
df

                     marginal_consumption  dataid  DST
localminute
2015-10-01 00:00:00                   0.0      35    1
2015-10-01 01:00:00                   0.0      35    1
2015-10-01 02:00:00                   0.0      35    1
2015-10-01 03:00:00                   0.0      35    1
2015-10-01 04:00:00                   0.0      35    1
...                                   ...     ...  ...
2016-03-31 07:00:00                   0.0    9982    1
2016-03-31 08:00:00                   0.0    9982    1
2016-03-31 09:00:00                   0.0    9982    1
2016-03-31 10:00:00                   0.0    9982    1
2016-03-31 11:00:00                  72.0    9982    1

[591478 rows x 3 columns]

Now we have our new dataset resampled by the hour, with marginal consumption extracted. Let's have a look at the time series graphs now.

It seems there are outliers present that could hamper our model performance. Let us try and remove them. Firstly, let's start with the ones with a large negative marginal consumption. Since our meter value data is cumulative, the marginal consumption cannot be negative

In [29]:
df = df[~df['dataid'].isin(df[df['marginal_consumption'] < -50]['dataid'].unique())]

In [30]:
len(df[df['marginal_consumption'] < -50]['dataid'].unique())

0

In [31]:
len(df['dataid'].unique())

129

In [32]:
extreme = df[df['marginal_consumption'] > 5000]['dataid'].unique()

In [33]:
len(df[df['dataid'] == 4874])

0

In [34]:
df['marginal_consumption'].min()

0.0

In [35]:
len(df[df['marginal_consumption'] > 1000]['dataid'].unique())

22

In [36]:
df['marginal_consumption'].max()

13982.0

In [37]:
removed = []
for dataid, group in df.groupby('dataid'): 
    ub = group['marginal_consumption'].quantile(0.99)
    # outliers = group['marginal_consumption'][group['marginal_consumption'] > ub]
    group.loc[group['marginal_consumption'] > ub] = np.nan
    group = group.interpolate()
    removed.append(group['marginal_consumption'])

In [38]:
df['marginal_consumption'] = pd.concat(removed)
df['marginal_consumption'].isna().sum()

/var/folders/tn/8lbbw7dn3f3b367scfqs7w3h0000gp/T/ipykernel_48961/3578771186.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['marginal_consumption'] = pd.concat(removed)

0

In [39]:
# for dataid, group in df.groupby('dataid'): 
#     plt.hist(group['marginal_consumption'])
#     plt.show()

In [40]:
from scipy import stats

In [41]:
df.reset_index(inplace=True)

In [42]:
df["marginal_diff"] = df["marginal_consumption"].diff()
df.fillna(0, inplace=True)
df

/var/folders/tn/8lbbw7dn3f3b367scfqs7w3h0000gp/T/ipykernel_48961/1795095638.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["marginal_diff"] = df["marginal_consumption"].diff()
/var/folders/tn/8lbbw7dn3f3b367scfqs7w3h0000gp/T/ipykernel_48961/1795095638.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.fillna(0, inplace=True)

               localminute  marginal_consumption  dataid  DST  marginal_diff
0      2015-10-01 00:00:00                   0.0      35    1            0.0
1      2015-10-01 01:00:00                   0.0      35    1            0.0
2      2015-10-01 02:00:00                   0.0      35    1            0.0
3      2015-10-01 03:00:00                   0.0      35    1            0.0
4      2015-10-01 04:00:00                   0.0      35    1            0.0
...                    ...                   ...     ...  ...            ...
525616 2016-02-08 12:00:00                   0.0    9956    0            0.0
525617 2016-02-08 13:00:00                   0.0    9956    0            0.0
525618 2016-02-08 14:00:00                   0.0    9956    0            0.0
525619 2016-02-08 15:00:00                   0.0    9956    0            0.0
525620 2016-02-08 16:00:00                   0.0    9956    0            0.0

[525621 rows x 5 columns]

In [43]:
df['localminute'].dt.year

0         2015
1         2015
2         2015
3         2015
4         2015
          ...
525616    2016
525617    2016
525618    2016
525619    2016
525620    2016
Name: localminute, Length: 525621, dtype: int32

In [44]:
df['week'] = df['localminute'].dt.isocalendar().week
df['week']

/var/folders/tn/8lbbw7dn3f3b367scfqs7w3h0000gp/T/ipykernel_48961/2349163691.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['week'] = df['localminute'].dt.isocalendar().week

0         40
1         40
2         40
3         40
4         40
          ..
525616     6
525617     6
525618     6
525619     6
525620     6
Name: week, Length: 525621, dtype: UInt32

In [45]:
standardized = []
for dataid, group in df.groupby('dataid'):
    weekly_variance = group.groupby(group['localminute'].dt.isocalendar().week)['marginal_diff'].std()
    mapped_weekly_variance = group['localminute'].map(lambda x: weekly_variance.loc[x.week])
    group['marginal_diff'] = np.where(mapped_weekly_variance != 0, group['marginal_diff'] / mapped_weekly_variance, 0)
    standardized.append(group['marginal_diff'])
    # group.set_index('localminute')['marginal_diff'].plot(figsize=(15,5))
    # plt.xlabel('Date')
    # plt.ylabel('Standardized beer production rate')
    # plt.grid()
    # plt.show()

In [46]:
df['marginal_diff'] = pd.concat(standardized)
df['marginal_diff']

/var/folders/tn/8lbbw7dn3f3b367scfqs7w3h0000gp/T/ipykernel_48961/2381088770.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['marginal_diff'] = pd.concat(standardized)

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
525616    0.0
525617    0.0
525618    0.0
525619    0.0
525620    0.0
Name: marginal_diff, Length: 525621, dtype: float64

In [47]:
df.isna().sum()

localminute             0
marginal_consumption    0
dataid                  0
DST                     0
marginal_diff           0
week                    0
dtype: int64

In [48]:
df['marginal_diff'].skew()

0.09241104017679351

In [49]:
df['year'] = df['localminute'].dt.year
df['month'] = df['localminute'].dt.month
df['day'] = df['localminute'].dt.day
df['hour'] = df['localminute'].dt.hour
df

/var/folders/tn/8lbbw7dn3f3b367scfqs7w3h0000gp/T/ipykernel_48961/3429711195.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = df['localminute'].dt.year
/var/folders/tn/8lbbw7dn3f3b367scfqs7w3h0000gp/T/ipykernel_48961/3429711195.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = df['localminute'].dt.month
/var/folders/tn/8lbbw7dn3f3b367scfqs7w3h0000gp/T/ipykernel_48961/3429711195.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['day'] = df['localminute'].dt.day
/var/folders/tn/8lbbw7dn3f3b367scfqs7w3h0000gp/T/ipykernel_48961/3429711195.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['hour'] = df['localminute'].dt.hour

,localminute,marginal_consumption,dataid,DST,marginal_diff,week,year,month,day,hour
0,2015-10-01 00:00:00,0.0,35,1,0.0,40,2015,10,1,0
1,2015-10-01 01:00:00,0.0,35,1,0.0,40,2015,10,1,1
2,2015-10-01 02:00:00,0.0,35,1,0.0,40,2015,10,1,2
3,2015-10-01 03:00:00,0.0,35,1,0.0,40,2015,10,1,3
4,2015-10-01 04:00:00,0.0,35,1,0.0,40,2015,10,1,4
...,...,...,...,...,...,...,...,...,...,...
525616,2016-02-08 12:00:00,0.0,9956,0,0.0,6,2016,2,8,12
525617,2016-02-08 13:00:00,0.0,9956,0,0.0,6,2016,2,8,13
525618,2016-02-08 14:00:00,0.0,9956,0,0.0,6,2016,2,8,14
525619,2016-02-08 15:00:00,0.0,9956,0,0.0,6,2016,2,8,15
525620,2016-02-08 16:00:00,0.0,9956,0,0.0,6,2016,2,8,16

In [50]:
features = ['marginal_diff', 'DST', 'week', 'year', 'month', 'day', 'hour', 'dataid']

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
train_data, test_val_data = train_test_split(df[features], test_size=0.4, random_state=42, shuffle=False)
test_data, val_data = train_test_split(test_val_data, test_size=0.5, random_state=42, shuffle=False)

In [53]:
X_train = train_data
y_train = train_data['marginal_diff'].copy()
X_test = test_data
y_test = test_data['marginal_diff'].copy()
X_val = val_data
y_val = val_data['marginal_diff'].copy()

In [54]:
# Step 3: Define the missing value rate
missing_rate = 0.8  # Introduce NaNs in 80% of the marginal_diff data

# Step 4: Randomly assign NaNs in X_train's marginal_diff column
n_train_missing = int(len(X_train) * missing_rate)
train_indices = np.random.choice(X_train.index, n_train_missing, replace=False)
X_train.loc[train_indices, 'marginal_diff'] = np.nan

In [55]:
# Introduce NaNs in X_test's marginal_diff column
n_test_missing = int(len(X_test) * missing_rate)
test_indices = np.random.choice(X_test.index, n_test_missing, replace=False)
X_test.loc[test_indices, 'marginal_diff'] = np.nan

In [56]:
n_val_missing = int(len(X_val) * missing_rate)
val_indices = np.random.choice(X_val.index, n_val_missing, replace=False)
X_val.loc[val_indices, 'marginal_diff'] = np.nan

In [57]:
mask_train = np.where(np.isnan(X_train['marginal_diff']), 0, 1)  # Mask based on original data shape
mask_test = np.where(np.isnan(X_test['marginal_diff']), 0, 1)
mask_val = np.where(np.isnan(X_val['marginal_diff']), 0, 1)

In [58]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_train_filled = pd.DataFrame(X_train).fillna(method='ffill')
scaled_X_train = scaler.fit_transform(X_train_filled)

/var/folders/tn/8lbbw7dn3f3b367scfqs7w3h0000gp/T/ipykernel_48961/3897026729.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  X_train_filled = pd.DataFrame(X_train).fillna(method='ffill')

In [59]:
X_test_filled = pd.DataFrame(X_test).fillna(method='ffill')
scaled_X_test = scaler.transform(X_test_filled)
X_val_filled = pd.DataFrame(X_val).fillna(method='ffill')
scaled_X_val = scaler.transform(X_val_filled)

/var/folders/tn/8lbbw7dn3f3b367scfqs7w3h0000gp/T/ipykernel_48961/2740955589.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  X_test_filled = pd.DataFrame(X_test).fillna(method='ffill')
/var/folders/tn/8lbbw7dn3f3b367scfqs7w3h0000gp/T/ipykernel_48961/2740955589.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  X_val_filled = pd.DataFrame(X_val).fillna(method='ffill')

In [60]:
def create_sequences(data, seq_length):
    sequences = []
    for i in range(len(data) - seq_length + 1):
        seq = data[i:i + seq_length]
        sequences.append(seq)
    return np.array(sequences)

In [61]:
sequence_length = 24
X_train_seq = create_sequences(scaled_X_train, sequence_length)
X_test_seq = create_sequences(scaled_X_test, sequence_length)
X_val_seq = create_sequences(scaled_X_val, sequence_length)
y_train_seq = create_sequences(y_train, sequence_length)
y_test_seq = create_sequences(y_test, sequence_length)
y_val_seq = create_sequences(y_val, sequence_length)

In [62]:
mask_train_seq = create_sequences(mask_train, sequence_length)
mask_test_seq = create_sequences(mask_test, sequence_length)
mask_val_seq = create_sequences(mask_val, sequence_length)

In [63]:
import torch

In [64]:
X_train_tensor = torch.from_numpy(X_train_seq).float()
X_test_tensor = torch.from_numpy(X_test_seq).float()
X_val_tensor = torch.from_numpy(X_val_seq).float()
mask_train_tensor = torch.from_numpy(mask_train_seq).float()
mask_test_tensor = torch.from_numpy(mask_test_seq).float()
mask_val_tensor = torch.from_numpy(mask_val_seq).float()

In [65]:
y_train_tensor = torch.from_numpy(y_train_seq).float()
y_test_tensor = torch.from_numpy(y_test_seq).float()
y_val_tensor = torch.from_numpy(y_val_seq).float()

In [66]:
import torch.nn as nn
from torch.utils.data import DataLoader, TensorDataset

In [81]:
train_dataset = TensorDataset(X_train_tensor, mask_train_tensor, y_train_tensor)
val_dataset = TensorDataset(X_val_tensor, mask_val_tensor, y_val_tensor)
test_dataset = TensorDataset(X_test_tensor, mask_test_tensor, y_test_tensor)
train_loader = DataLoader(train_dataset, batch_size=64, shuffle=True)
val_loader = DataLoader(val_dataset, batch_size=64)
test_loader = DataLoader(test_dataset, batch_size=64)

In [82]:
class LSTMImputer(nn.Module):
    def __init__(self, input_size, hidden_size, num_layers):
        super(LSTMImputer, self).__init__()
        self.lstm = nn.LSTM(input_size + 1, hidden_size, num_layers=num_layers, batch_first=True)  # +1 for mask channel
        self.fc = nn.Linear(hidden_size, 1)  # Change to output a single value

    def forward(self, x, mask):
        mask = mask.unsqueeze(-1)  # Change shape from (batch_size, seq_length) to (batch_size, seq_length, 1)
        x_masked = torch.cat((x, mask), dim=2)  # Concatenate along feature dimension
        
        h0 = torch.zeros(num_layers, x.size(0), hidden_size).to(x.device)
        c0 = torch.zeros(num_layers, x.size(0), hidden_size).to(x.device)
        
        out, _ = self.lstm(x_masked, (h0, c0))
        imputed = self.fc(out)  # Output imputed values
        
        return imputed

In [83]:
input_size = X_train_tensor.shape[2]
hidden_size = 64            
num_layers = 2

In [89]:
model = LSTMImputer(input_size=input_size, hidden_size=hidden_size, num_layers=num_layers)
optimizer = torch.optim.Adam(model.parameters(), lr=0.01)
criterion = nn.MSELoss(reduction="none")

In [90]:
X_train_tensor.shape

torch.Size([315349, 24, 8])

In [91]:
y_train_tensor.shape

torch.Size([315349, 24])

In [92]:
mask_train_tensor.shape

torch.Size([315349, 24])

In [93]:
# Training Loop
for epoch in range(num_epochs):
    model.train()  # Set model to training mode
    
    for inputs, mask, targets in train_loader:  # Assuming train_loader is defined
        optimizer.zero_grad()  # Clear gradients
        
        # Forward pass through the model
        outputs = model(inputs.float(), mask.float())  # Model predicts missing values
        
        # Calculate individual losses against original targets
        individual_losses = criterion(outputs.squeeze(), targets.squeeze())
        
        # Apply mask to ignore losses for entries where inputs were NaN
        masked_losses = individual_losses * mask.squeeze()  
        
        # Keep only valid losses (those where inputs were not NaN)
        masked_losses_valid_entries = masked_losses[masked_losses > 0] 
        
        if len(masked_losses_valid_entries) > 0:
            final_loss = masked_losses_valid_entries.mean()  # Average over valid entries
            
            final_loss.backward()  # Backpropagation
            optimizer.step()       # Update weights       

    # Validation Phase after each epoch
    model.eval()   # Set model to evaluation mode
    val_loss_total = 0 
    num_val_entries = 0 

    with torch.no_grad():  # Disable gradient calculation for validation
        for inputs_val, mask_val, targets_val in val_loader:  # Assuming val_loader is defined
            outputs_val = model(inputs_val.float(), mask_val.float())  
            
            individual_val_losses = criterion(outputs_val.squeeze(), targets_val.squeeze())
            
            # Apply mask to ignore losses for entries where inputs were NaN
            masked_val_losses = individual_val_losses * mask_val.squeeze()  
            
            # Keep only valid losses (those where inputs were not NaN)
            masked_val_losses_valid_entries = masked_val_losses[masked_val_losses > 0]  
            
            if len(masked_val_losses_valid_entries) > 0:
                val_loss_total += masked_val_losses_valid_entries.sum().item() 
                num_val_entries += len(masked_val_losses_valid_entries)  

    if num_val_entries > 0:
        average_val_loss = val_loss_total / num_val_entries 
        print(f'Epoch [{epoch + 1}/{num_epochs}], Train Loss: {final_loss.item():.4f}, Validation Loss: {average_val_loss:.4f}')
    else:
        print(f'Epoch [{epoch + 1}/{num_epochs}], Train Loss: {final_loss.item():.4f}, Validation Loss: No valid entries')

Epoch [1/100], Train Loss: 0.7252, Validation Loss: 0.6699
Epoch [2/100], Train Loss: 0.5417, Validation Loss: 0.6779
Epoch [3/100], Train Loss: 0.5129, Validation Loss: 0.6890
Epoch [4/100], Train Loss: 0.8223, Validation Loss: 0.7420
Epoch [5/100], Train Loss: 0.6491, Validation Loss: 0.7542
Epoch [6/100], Train Loss: 0.8176, Validation Loss: 0.8299
Epoch [7/100], Train Loss: 0.6290, Validation Loss: 0.8401
Epoch [8/100], Train Loss: 0.6665, Validation Loss: 0.7613
Epoch [9/100], Train Loss: 0.6624, Validation Loss: 0.8526
Epoch [10/100], Train Loss: 0.6035, Validation Loss: 0.8688
Epoch [11/100], Train Loss: 0.5742, Validation Loss: 0.8553
Epoch [12/100], Train Loss: 0.8237, Validation Loss: 0.8672
Epoch [13/100], Train Loss: 0.6404, Validation Loss: 0.8881
Epoch [14/100], Train Loss: 1.0310, Validation Loss: 0.8991
Epoch [15/100], Train Loss: 1.1855, Validation Loss: 0.8997
Epoch [16/100], Train Loss: 0.8532, Validation Loss: 0.8904
Epoch [17/100], Train Loss: 1.1602, Validation Loss: 0.8989
Epoch [18/100], Train Loss: 0.8239, Validation Loss: 0.8928
Epoch [19/100], Train Loss: 0.8460, Validation Loss: 0.9047
Epoch [20/100], Train Loss: 0.8752, Validation Loss: 0.9077
Epoch [21/100], Train Loss: 1.5024, Validation Loss: 0.9059
Epoch [22/100], Train Loss: 0.9915, Validation Loss: 0.8999
Epoch [23/100], Train Loss: 1.1207, Validation Loss: 0.8969
Epoch [24/100], Train Loss: 1.2036, Validation Loss: 0.9056
Epoch [25/100], Train Loss: 0.8756, Validation Loss: 0.9052
Epoch [26/100], Train Loss: 0.9058, Validation Loss: 0.9416
Epoch [27/100], Train Loss: 0.7496, Validation Loss: 0.9103
Epoch [28/100], Train Loss: 1.2379, Validation Loss: 0.9349
Epoch [29/100], Train Loss: 1.1997, Validation Loss: 0.9243
Epoch [30/100], Train Loss: 0.7599, Validation Loss: 0.9165
Epoch [31/100], Train Loss: 1.2525, Validation Loss: 0.9013
Epoch [32/100], Train Loss: 0.6799, Validation Loss: 0.9030
Epoch [33/100], Train Loss: 0.6638, Validation Loss: 0.9067
Epoch [34/100], Train Loss: 1.0969, Validation Loss: 0.8999
Epoch [35/100], Train Loss: 0.6431, Validation Loss: 0.8961
Epoch [36/100], Train Loss: 1.0561, Validation Loss: 0.9052
Epoch [37/100], Train Loss: 0.7225, Validation Loss: 0.9145
Epoch [38/100], Train Loss: 1.1509, Validation Loss: 0.8804
Epoch [39/100], Train Loss: 0.7619, Validation Loss: 0.8775
Epoch [40/100], Train Loss: 0.7713, Validation Loss: 0.9324
Epoch [41/100], Train Loss: 0.8397, Validation Loss: 0.9114
Epoch [42/100], Train Loss: 1.5634, Validation Loss: 0.9040
Epoch [43/100], Train Loss: 0.7884, Validation Loss: 0.9006
Epoch [44/100], Train Loss: 1.1269, Validation Loss: 0.9058
Epoch [45/100], Train Loss: 0.6830, Validation Loss: 0.9472
Epoch [46/100], Train Loss: 0.8492, Validation Loss: 0.9087
Epoch [47/100], Train Loss: 0.9617, Validation Loss: 0.8991
Epoch [48/100], Train Loss: 0.7196, Validation Loss: 0.9024
Epoch [49/100], Train Loss: 1.1828, Validation Loss: 0.8958
Epoch [50/100], Train Loss: 0.9603, Validation Loss: 0.8393
Epoch [51/100], Train Loss: 0.6605, Validation Loss: 0.7115
Epoch [52/100], Train Loss: 0.9602, Validation Loss: 0.6606
Epoch [53/100], Train Loss: 0.5642, Validation Loss: 0.6520
Epoch [54/100], Train Loss: 0.6759, Validation Loss: 0.6501
Epoch [55/100], Train Loss: 0.4775, Validation Loss: 0.6510
Epoch [56/100], Train Loss: 0.7252, Validation Loss: 0.6480
Epoch [57/100], Train Loss: 0.6635, Validation Loss: 0.6509
Epoch [58/100], Train Loss: 0.7910, Validation Loss: 0.6492
Epoch [59/100], Train Loss: 0.5377, Validation Loss: 0.6491
Epoch [60/100], Train Loss: 0.5439, Validation Loss: 0.6499
Epoch [61/100], Train Loss: 0.7137, Validation Loss: 0.6487
Epoch [62/100], Train Loss: 0.6853, Validation Loss: 0.6602
Epoch [63/100], Train Loss: 0.4960, Validation Loss: 0.6530
Epoch [64/100], Train Loss: 0.6887, Validation Loss: 0.6740
Epoch [65/100], Train Loss: 0.8308, Validation Loss: 0.6775
Epoch [66/100], Train Loss: 0.7222, Validation Loss: 0.6489
Epoch [67/100], Train Loss: 0.8833, Validation Loss: 0.6796
Epoch [68/100], Train Loss: 0.7757, Validation Loss: 0.6765
Epoch [69/100], Train Loss: 0.5565, Validation Loss: 0.7260
Epoch [70/100], Train Loss: 0.7224, Validation Loss: 0.6762
Epoch [71/100], Train Loss: 0.5654, Validation Loss: 0.6594
Epoch [72/100], Train Loss: 0.6923, Validation Loss: 0.6884
Epoch [73/100], Train Loss: 0.6435, Validation Loss: 0.6509
Epoch [74/100], Train Loss: 0.6530, Validation Loss: 0.6605
Epoch [75/100], Train Loss: 0.6232, Validation Loss: 0.6888
Epoch [76/100], Train Loss: 0.5786, Validation Loss: 0.6616
Epoch [77/100], Train Loss: 0.8953, Validation Loss: 0.6927
Epoch [78/100], Train Loss: 0.9370, Validation Loss: 0.6876
Epoch [79/100], Train Loss: 0.6689, Validation Loss: 0.6880
Epoch [80/100], Train Loss: 0.6213, Validation Loss: 0.6784
Epoch [81/100], Train Loss: 0.7454, Validation Loss: 0.6882
Epoch [82/100], Train Loss: 0.7308, Validation Loss: 0.6738
Epoch [83/100], Train Loss: 1.2557, Validation Loss: 0.7466
Epoch [84/100], Train Loss: 0.5803, Validation Loss: 0.7014
Epoch [85/100], Train Loss: 0.4449, Validation Loss: 0.7040
Epoch [86/100], Train Loss: 0.6016, Validation Loss: 0.7557
Epoch [87/100], Train Loss: 0.9257, Validation Loss: 0.7273
Epoch [88/100], Train Loss: 0.8048, Validation Loss: 0.7716
Epoch [89/100], Train Loss: 0.7163, Validation Loss: 0.7262
Epoch [90/100], Train Loss: 0.6283, Validation Loss: 0.7161
Epoch [91/100], Train Loss: 0.6838, Validation Loss: 0.7214
Epoch [92/100], Train Loss: 0.5398, Validation Loss: 0.7125
Epoch [93/100], Train Loss: 0.6370, Validation Loss: 0.6959
Epoch [94/100], Train Loss: 0.8152, Validation Loss: 0.7125
Epoch [95/100], Train Loss: 0.6847, Validation Loss: 0.6980
Epoch [96/100], Train Loss: 0.7213, Validation Loss: 0.7209
Epoch [97/100], Train Loss: 0.7219, Validation Loss: 0.7424
Epoch [98/100], Train Loss: 0.6289, Validation Loss: 0.7084
Epoch [99/100], Train Loss: 0.8787, Validation Loss: 0.7443
Epoch [100/100], Train Loss: 1.0517, Validation Loss: 0.6774

In [94]:
model.eval()   # Set model to evaluation mode for testing
test_loss_total = 0 
num_test_entries = 0 

with torch.no_grad():  # Disable gradient calculation for testing
    for inputs_test, mask_test, targets_test in test_loader:  # Assuming test_loader is defined
        outputs_test = model(inputs_test.float(), mask_test.float())  
        
        loss_test = criterion(outputs_test.squeeze(), targets_test.squeeze())
        
        masked_loss_test = loss_test * mask_test.squeeze()  
        
        masked_loss_valid_entries_test = masked_loss_test[masked_loss_test > 0]  
        
        if len(masked_loss_valid_entries_test) > 0:
            test_loss_total += masked_loss_valid_entries_test.sum().item() 
            num_test_entries += len(masked_loss_valid_entries_test)  

if num_test_entries > 0:
    average_test_loss = test_loss_total / num_test_entries 
    print(f'Test Loss: {average_test_loss:.4f}')
else:
    print('Test Loss: No valid entries')

Test Loss: 0.6985

In [95]:
with torch.no_grad():
    predictions = model(X_test_tensor.float(), mask_test_tensor.float()).squeeze()
    print("Predictions:", predictions[:10].numpy())
    print("Actual Values:", y_test_tensor[:10].numpy())

Predictions: [[-1.009304    0.3300531  -0.10948193 -0.06023717 -0.01133454 -0.02260661
  -0.006387   -0.01076937  0.6691034  -0.5662863   0.13865292 -0.03847718
  -0.03748238 -0.03860855 -0.07480574  0.01669717  0.34008455 -0.16769564
   0.02594924  0.02194691  0.05841386  0.21294701  0.04580498 -0.11238205]
 [-0.02042544 -0.00105667 -0.08381426 -0.04583704  0.00192249 -0.00653434
  -0.01107407  0.66873145 -0.5673814   0.13955021 -0.03757584 -0.03748155
  -0.03859186 -0.07411909  0.01747     0.33965898 -0.16603565  0.02673149
   0.02278876  0.05991924  0.21734118  0.04790688 -0.11330092 -0.16419888]
 [-0.01586473  0.00199747 -0.06324947 -0.01716888  0.00617373 -0.00973678
   0.6688061  -0.5673833   0.13956094 -0.03757    -0.03748178 -0.03859115
  -0.07418716  0.01742482  0.33967686 -0.16619623  0.02673626  0.02279317
   0.05993056  0.21736753  0.04788506 -0.11329925 -0.1642214  -0.11617446]
 [ 0.00439906  0.00789726 -0.03110492  0.00119257 -0.00508213  0.66894937
  -0.5673981   0.1395824  -0.0375644  -0.03748202 -0.03859162 -0.07425559
   0.01737916  0.33969355 -0.16635787  0.02674031  0.02279699  0.05994081
   0.21739483  0.04786289 -0.11329746 -0.16424441 -0.11620212  0.00960493]
 [ 0.03168428  0.01243377  0.01278937 -0.00815845  0.66742134 -0.5675099
   0.13971198 -0.0375669  -0.03748167 -0.0385921  -0.07432568  0.01733315
   0.33971143 -0.16652179  0.02674532  0.02280092  0.05995238  0.2174207
   0.04784143 -0.11329615 -0.16426909 -0.11622965  0.00959969  0.1756314 ]
 [ 0.05581212  0.01488769 -0.00517297  0.7001531  -0.5708647   0.13807786
  -0.03741896 -0.03749716 -0.03859115 -0.07441425  0.0172869   0.3397274
  -0.16668665  0.02674961  0.02280462  0.05996346  0.21744812  0.04781938
  -0.11329484 -0.16429341 -0.11625898  0.00959611  0.17563808  0.31127834]
 [ 0.07288718 -0.05991709  0.5896504  -0.53101206  0.1437186  -0.03769529
  -0.03742278 -0.03859389 -0.07446539  0.01723909  0.33974624 -0.1668539
   0.0267545   0.02280843  0.05997419  0.2174747   0.04779577 -0.1132915
  -0.16431451 -0.11628699  0.00959063  0.17564523  0.31128    -0.21881509]
 [ 0.00312471  0.62756455 -0.5897486   0.13209176 -0.03827524 -0.03753126
  -0.03861296 -0.07650733  0.01562941  0.3405254  -0.17090559  0.02563477
   0.02158141  0.05777764  0.21107996  0.04462314 -0.11228168 -0.16096723
  -0.11688292  0.00909686  0.17508769  0.3113773  -0.22253013  0.00509739]
 [ 0.5751462  -0.8731868   0.04748404 -0.04465032 -0.03726435 -0.03865087
  -0.07739282  0.01506627  0.34076715 -0.17250836  0.02541149  0.02132702
   0.0573194   0.20975661  0.04391909 -0.11223853 -0.16073358 -0.11718762
   0.00896573  0.17493582  0.31139445 -0.2232585   0.00488007 -0.0011487 ]
 [-0.6983359   0.31637204 -0.03840458 -0.03705168 -0.03863871 -0.07577467
   0.01602089  0.34034753 -0.16988277  0.0258739   0.02184832  0.05827212
   0.21249187  0.04525208 -0.11232591 -0.16126943 -0.11668003  0.00920796
   0.17525864  0.3113656  -0.22175169  0.00537264 -0.0012033   0.02728081]]
Actual Values: [[-0.9515365   0.          0.          0.          0.          1.5858941
  -1.5858941   0.          0.63435763 -0.63435763  0.          0.
   0.          0.31717882 -0.31717882  0.          0.31717882 -0.31717882
   0.          0.          0.          0.          0.31717882 -0.31717882]
 [ 0.          0.          0.          0.          1.5858941  -1.5858941
   0.          0.63435763 -0.63435763  0.          0.          0.
   0.31717882 -0.31717882  0.          0.31717882 -0.31717882  0.
   0.          0.          0.          0.31717882 -0.31717882  0.        ]
 [ 0.          0.          0.          1.5858941  -1.5858941   0.
   0.63435763 -0.63435763  0.          0.          0.          0.31717882
  -0.31717882  0.          0.31717882 -0.31717882  0.          0.
   0.          0.          0.31717882 -0.31717882  0.          0.        ]
 [ 0.          0.          1.5858941  -1.5858941   0.          0.63435763
  -0.63435763  0.          0.          0.          0.31717882 -0.31717882
   0.          0.31717882 -0.31717882  0.          0.          0.
   0.          0.31717882 -0.31717882  0.          0.          0.        ]
 [ 0.          1.5858941  -1.5858941   0.          0.63435763 -0.63435763
   0.          0.          0.          0.31717882 -0.31717882  0.
   0.31717882 -0.31717882  0.          0.          0.          0.
   0.31717882 -0.31717882  0.          0.          0.          0.        ]
 [ 1.5858941  -1.5858941   0.          0.63435763 -0.63435763  0.
   0.          0.          0.31717882 -0.31717882  0.          0.31717882
  -0.31717882  0.          0.          0.          0.          0.31717882
  -0.31717882  0.          0.          0.          0.          0.31717882]
 [-1.5858941   0.          0.63435763 -0.63435763  0.          0.
   0.          0.31717882 -0.31717882  0.          0.31717882 -0.31717882
   0.          0.          0.          0.          0.31717882 -0.31717882
   0.          0.          0.          0.          0.31717882 -0.31717882]
 [ 0.          0.63435763 -0.63435763  0.          0.          0.
   0.31717882 -0.31717882  0.          0.31717882 -0.31717882  0.
   0.          0.          0.          0.31717882 -0.31717882  0.
   0.          0.          0.          0.31717882 -0.31717882  0.        ]
 [ 0.63435763 -0.63435763  0.          0.          0.          0.31717882
  -0.31717882  0.          0.31717882 -0.31717882  0.          0.
   0.          0.          0.31717882 -0.31717882  0.          0.
   0.          0.          0.31717882 -0.31717882  0.          0.        ]
 [-0.63435763  0.          0.          0.          0.31717882 -0.31717882
   0.          0.31717882 -0.31717882  0.          0.          0.
   0.          0.31717882 -0.31717882  0.          0.          0.
   0.          0.31717882 -0.31717882  0.          0.          0.        ]]